.page-content{
  position: fixed;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.main-page-cat {
  display: flex;
  left: 240px;
  top: 59px;
  width: calc(100% - 13%);
  height: 75px;
  background: #fff;
}

.main-page-videos {
  display: flex;
  flex-direction: row;
  width: calc(100% - 13%);
  justify-content: space-between;
  flex-wrap: wrap;
}

.browse-videos-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5px;
}
